In [1]:

# 11.1 code to access and print the hours
import zoo

print(zoo.hours())


# 11.2 code to incorporate aliasing for calling module functions

import zoo as menagerie

print(menagerie.hours())

ModuleNotFoundError: No module named 'zoo'

In [2]:
#11.1, 11.2 This is the zoo.py code

def hours():

    return "Open 9-5 daily"

In [3]:
import sqlite3
from sqlalchemy import text
connection=sqlite3.connect("books.db")
cursor = connection.cursor()
sql = "SELECT title FROM books order by title"
all_rows = list(cursor.execute(sql))
for row in all_rows:
    print(row[0])

OperationalError: no such table: books